
<div class="main-hom">
    <carousel-dir></carousel-dir>
    <div class="carousel">
        <div class="item-car bg-img1"><img src=""></div>
        <div class="item-car bg-img2"><img src=""></div>
        <div class="item-car bg-img3"><img src=""></div>
    </div>
    <div class="bos-hom">
        
    </div>
    <div class="arch-hom">
        
    </div>
    <div class="mtn-hom">
        
    </div>
    <div class="some-brands">
        <div class="pic"><img src="./../images/image (6).PNG"></div>
        <div class="pic"><img src="./../images/image (7).PNG"></div>
        <div class="pic"><img src="./../images/image (8).PNG"></div>
        <div class="pic"><img src="./../images/image (9).PNG"></div>
        <div class="pic"><img src="./../images/image (11).PNG"></div>
        <div class="pic"><img src="./../images/image (10).PNG"></div>
    </div>
    <div class="sales">
        <div class="item1">
            <div class="banner-hom">
                <h3>Save Up To 40% Off Marmot</h3>
                <p>The Semiannual Sale</p>
            </div>
        </div>
        <div class="item2">
            <div class="banner-hom">
                <h3>Best Deals Under $100</h3>
                <p>The Semiannual Sale</p>
            </div>
        </div>
        <div class="item3">
            <div class="banner-hom">
                <h3>Save Up To 40% Off Patagonia</h3>
                <p>The Semiannual Sale</p>
            </div>
        </div>
    </div>
    <div class="more-salez">
        <div class="item1">
            <div class="banner-hom">
                <h3>Save Up To 40% Off Winter Jackets</h3>
                <p>The Semiannual Sale</p>
            </div>
        </div>
        <div class="item2">
            <div class="banner-hom">
                <h3>Save Up To 50% Off Boots & Shoes</h3>
                <p>The Semiannual Sale</p>
            </div>
        </div>
    </div>
    <div class="last-salez">
        <div class="item1">
            <div class="banner-hom">
                <h3>Save Up To 50% Off Boots & Shoes</h3>
                <p>The Semiannual Sale</p>
            </div>
        </div>
        <div class="item2">
            <div class="banner-hom">
                <h3>Save Up To 50% Off Boots & Shoes</h3>
                <p>The Semiannual Sale</p>
            </div>
        </div>
    </div>
    <bottoms-up-dir></bottoms-up-dir>
</div>


