<carousel-dir></carousel-dir>
<div class="main">
    <div class="carousel">
        <div><img src="./../images/image (8).JPG"></div>
        <div><img src="./../images/image (9).JPG"></div>
        <div><img src="./../images/image.JPG"></div>
    </div>

    <div class="some-brands">
        <div class="pic"><img src="./../images/image (6).PNG"></div>
        <div class="pic"><img src="./../images/image (7).PNG"></div>
        <div class="pic"><img src="./../images/image (8).PNG"></div>
        <div class="pic"><img src="./../images/image (9).PNG"></div>
        <div class="pic"><img src="./../images/image (11).PNG"></div>
        <div class="pic"><img src="./../images/image (10).PNG"></div>
    </div>
    <div class="sales">
        <div class="item1">
        </div>
        <div class="item2">
        </div>
        <div class="item3">
        </div>
    </div>
    <div class="more-salez">
        <div class="item1"></div>
        <div class="item2"></div>
    </div>
    <div class="last-salez">
        <div class="item1"></div>
        <div class="item2"></div>
    </div>
    <div class="bottom">
        
    </div>
</div>
