<div class="one-product">
    <div class="upper-op">
        <div class="image-op">
            <img src="{{oneProduct.imageurl}}">
        </div>
        <div class="info-op">
            <img src="{{oneProduct.brandimageurl}}" alt="">
            <h2>{{oneProduct.brand}} {{oneProduct.name}}</h2>
            <h3>{{oneProduct.price | currency}}</h3>
            <p>Free 2-Day shipping on orders over $50*</p>
            <div class="quantity-op">Quantity: <input type="number" min="1" ng-model="qty"></div>
            <button class="cart-op" type="button" name="button" ng-click="addToCart(oneProduct.productid, qty)">Add To Cart</button>
        </div>
    </div>
    <div class="lower-op">
        <h2>{{oneProduct.tagline}}</h2>
        <p>{{oneProduct.description}}</p>
    </div>
</div>